@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@font-face {
  font-family: "Sephyr";
  src: url("./fonts/SephyrRegular.ttf");
}
:root {
  --background: #1B1B1B;
  --border: #333333;
  --text: #E0E0E0;
  --accent: #BE005C;
  --green: #00BE63;
  --panel: #252525;
  --transparent: transparent;
}
body {
  padding: 0;
  margin: 0;
  background: var(--background);
  font-family: "Poppins";
  color: var(--text);
}
* {
  box-sizing: border-box;
}
.hidden-on-mobile {
  display: block;
}
.hidden-on-desktop {
  display: none;
}
#main-navbar {
  display: flex;
  align-items: center;
  padding: 0 40px;
  border-bottom: 1px solid var(--border);
  height: 60px;
}
#main-navbar > #title {
  font-family: "Sephyr";
  font-size: 30px;
  user-select: none;
  text-decoration: none;
  color: var(--text);
}
.accent {
  color: var(--accent);
}
#nav-buttons {
  margin-left: auto;
  display: flex;
  gap: 20px;
}
.nav-button {
  transition: .2s ease;
  background: transparent;
  color: var(--text);
  font-family: "Poppins";
  text-decoration: none;
  font-size: 17px;
  user-select: none;
}
.current {
  color: var(--accent);
}
.body {
  border: none;
  border-left: 1px solid var(--border);
  border-right: 1px solid var(--border);
  min-height: calc(100vh - 60px);
  width: 85%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.align-center {
  display: flex;
  align-items: center;
  flex-direction: column;
}
::-webkit-scrollbar {
  display: none;
}
.header {
  font-family: "Sephyr";
  font-size: 50px;
}
.header-highlight {
  background: var(--accent);
  padding: 0 10px;
  color: var(--text);
  border-radius: 2px;
}
.paragraph {
  width: 75%;
  text-align: left;
  /* border: 1px solid red; */
  word-wrap: break-word;
  line-height: 170%;
}
#input {
  background: var(--panel);
  border: 1px solid var(--border);
  border-radius: 3px;
  height: 30px;
  aspect-ratio: 10 / 1;
  font-family: "Poppins";
  padding: 0 4px;
  color: var(--text);
}
#input:focus {
  outline: none;
}
#submit {
  background: var(--accent);
  color: var(--text);
  font-family: "Poppins";
  font-weight: 600;
  border: none;
  height: 30px;
  margin-left: 3px;
  border-radius: 3px;
  padding: 0 8px;
  outline: 1px solid transparent;
}
#submit:hover {
  transition: .1s ease;
  outline-offset: 2px;
  outline: 2px solid var(--accent);
  cursor: pointer;
}
#todos {
  width: 75%;
  /* border: 1px solid red; */
  margin-top: 25px;
}
.todo {
  transition: .2s ease;
  background: var(--panel);
  width: 100%;
  display: flex;
  align-items: center;
  border: 1px solid var(--border);
  padding: 0 2px;
  border-radius: 4px;
  height: 35px;
}
.todo-p {
  line-height: 0;
  margin-left: 5px;
}
.todo-buttons {
  display: flex;
  align-items: center;
  margin-left: auto;
  gap: 2px;
}
.todo-buttons > button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 27px;
  cursor: pointer;
  aspect-ratio: 1;
  border: none;
  border-radius: 3px;
  color: var(--text);
  font-size: 18px;
}
.todo-done {
  background: var(--green);
}
.todo-delete {
  background: var(--accent);
}
#todo-controls {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (pointer:none), (pointer:coarse) {
  .body {
    border: none;
    width: 100%;
  }
  .hidden-on-desktop {
    display: block;
  }
  .hidden-on-mobile {
    display: none;
  }
  #todos {
    width: 90%;
  }
  #todo-controls > #input {
    width: calc(100% - 100px);
  }
  .nav-button {
    border-radius: none;
    border: none;
  }
  #menu {
    position: absolute;
    right: 0;
    top: 0;
    background: var(--background);
    border: none;
    border-left: 1px solid var(--border);
    height: 100vh;
    width: 75%;
    /* border: 1px solid red; */
    z-index: 1000;
    font-family: "Poppins";
    box-shadow: 0 0 500px black;
    display: none;
  }
  #menu > h1 {
    font-family: "Sephyr";
    font-size: 40px;
    font-weight: normal;
    text-align: center;
    margin: 50px 0;
  }
  #mobile-menu-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
  .nav-button {
    font-size: 20px;
  }
  #hide-menu {
    position: absolute;
    top: 15px;
    right: 15px;
    background: transparent;
    font-size: 20px;
    color: var(--text);
    border: none;
  }
}